body {
    background-color: beige;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 12%;
}

.flex-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: 265px;
    width: 265px;
}

.cell {
    display: flex;
    height: 16px;
    width: 16px;
    background-color: gray;
}

.cells-form {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}